.area {
  margin-top: 100px;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout{
  border-top: 1000px thick solid #ff0000;
  border-right: 1000px thick dashed #ff0000;
  border-bottom: 1000px thick dotted #ff0000;
  border-left: 1000px thick double #ff0000;
}