* {
  margin: 0;
  padding: 0;
}
li,
ol,
ul {
  list-style: none;
}
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: #222222;
}

div {
  box-sizing: border-box;
}

.header {
  align-items: center;
  margin-left: auto;
}

.header_top {
  height: 32px;
}
.header_top > a {
  color: rgba(34, 34, 34, 0.8);
}
.header,
.header_top {
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
.top_inner {
  height: 32px;
  padding: 8px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_list {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.top_item {
  margin-left: 20px;
}

.header_main {
  height: 68px;
}

.main_inner {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 68px;
  justify-content: space-between;
}
.gnb_area {
  margin-left: auto;
}
.gnb_list {
  display: flex;
}
.gnb_item {
  margin-right: 40px;
}
