* {
  margin: 0;
  padding: 0;
}
li,
ol,
ul {
  list-style: none;
  margin-bottom: 0;
}
a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: #222222;
}

div {
  box-sizing: border-box;
}

.App {
  /* font-family: sans-serif; */
  font-family: 'Noto Sans CJK KR';
  text-align: center;
}

.area {
    margin-top: 100px;
}
  
.area-2 {
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.area-3 {
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
}

.header {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}